In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [2]:
##read in csvs
constructors = pd.read_csv("constructors.csv")
constructor_standings = pd.read_csv("constructor_standings.csv")
constructor_results = pd.read_csv("constructor_results.csv")

constructors = constructors.drop(columns=['url']) #drop url column
constructors

     constructorId constructorRef            name nationality
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
206            209          manor  Manor Marussia     British
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French

[211 rows x 4 columns]

In [3]:
#Merge constructor table with constructor standings
constructor_master = constructors.merge(constructor_standings,on='constructorId')
#constructor_master = constructor_master.merge(constructor_results,on=['constructorId','raceId'])
constructor_master

,constructorId,constructorRef,name,nationality,constructorStandingsId,raceId,points,position,positionText,wins
0,1,mclaren,McLaren,British,1,18,14.0,1,1,1
1,1,mclaren,McLaren,British,7,19,24.0,1,1,1
2,1,mclaren,McLaren,British,18,20,28.0,3,3,1
3,1,mclaren,McLaren,British,29,21,34.0,3,3,1
4,1,mclaren,McLaren,British,40,22,42.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...
12581,214,alpine,Alpine F1 Team,French,27740,1056,17.0,7,7,0
12582,214,alpine,Alpine F1 Team,French,27750,1057,25.0,7,7,0
12583,214,alpine,Alpine F1 Team,French,27760,1059,29.0,7,7,0
12584,214,alpine,Alpine F1 Team,French,27770,1058,31.0,7,7,0
12585,214,alpine,Alpine F1 Team,French,27790,1060,32.0,7,7,0

In [4]:
##Create DataFrame consisting of races, driver standings, drivers and qualifying results
races = pd.read_csv("races.csv").drop(columns=['url'])
drivers = pd.read_csv("drivers.csv").drop(columns=['url'])
driver_standings = pd.read_csv("driver_standings.csv")
##merge races with driver standings and drivers
races_standings = races.merge(driver_standings,on=['raceId'])
races_standings = races_standings.merge(drivers,on=['driverId'])
#drop non-needed columns
races_standings = races_standings.drop(columns=['positionText','driverRef','name'])

races_standings

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number,code,forename,surname,dob,nationality
0,1,2009,1,1,2009-03-29,06:00:00,8261,8,0.0,15,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
1,2,2009,2,2,2009-04-05,09:00:00,17665,8,0.0,18,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
2,3,2009,3,17,2009-04-19,07:00:00,17725,8,0.0,16,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
3,4,2009,4,3,2009-04-26,12:00:00,17765,8,3.0,12,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
4,5,2009,5,4,2009-05-10,12:00:00,17785,8,3.0,13,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33120,1056,2021,5,6,2021-05-23,13:00:00,70359,852,2.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33121,1057,2021,6,73,2021-06-06,12:00:00,70379,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33122,1058,2021,8,70,2021-06-27,13:00:00,70419,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33123,1059,2021,7,34,2021-06-20,13:00:00,70399,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33124,1060,2021,9,70,2021-07-04,13:00:00,70459,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese

In [5]:
#merge each drivers qualifying results on the race and driver id
qualifying = pd.read_csv('qualifying.csv')
qualifying = qualifying.rename(columns={'position':'qualifier_position'})
races_standings = races_standings.merge(qualifying,on=['raceId','driverId'])
races_standings2 = races_standings.loc[races_standings.raceId==1000]
races_standings2

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,code,forename,surname,dob,nationality,qualifyId,constructorId,number_y,qualifier_position,q1,q2,q3
250,1000,2018,12,11,2018-07-29,13:10:00,68871,8,146.0,3,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish,7760,6,7,3,1:17.526,1:32.762,1:36.186
606,1000,2018,12,11,2018-07-29,13:10:00,68869,20,189.0,2,4,5,VET,Sebastian,Vettel,1987-07-03,German,7761,6,5,4,1:16.666,1:28.636,1:36.210
1845,1000,2018,12,11,2018-07-29,13:10:00,68873,4,44.0,9,0,14,ALO,Fernando,Alonso,1981-07-29,Spanish,7768,1,14,11,1:18.208,1:35.214,NaN
3246,1000,2018,12,11,2018-07-29,13:10:00,68870,1,213.0,1,5,44,HAM,Lewis,Hamilton,1985-01-07,British,7778,131,44,1,1:17.419,1:31.242,1:35.658
3483,1000,2018,12,11,2018-07-29,13:10:00,68884,154,21.0,14,0,8,GRO,Romain,Grosjean,1986-04-17,French,7767,210,8,10,1:17.901,1:33.650,1:40.593
6102,1000,2018,12,11,2018-07-29,13:10:00,68875,807,52.0,7,0,27,HUL,Nico,HÃ¼lkenberg,1987-08-19,German,7770,4,27,13,1:17.905,1:36.506,NaN
6590,1000,2018,12,11,2018-07-29,13:10:00,68879,815,30.0,10,0,11,PER,Sergio,PÃ©rez,1990-01-26,Mexican,7776,10,11,19,1:19.200,NaN,NaN
6784,1000,2018,12,11,2018-07-29,13:10:00,68872,817,118.0,5,2,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,7769,9,3,12,1:18.540,1:36.442,NaN
7106,1000,2018,12,11,2018-07-29,13:10:00,68876,822,132.0,4,0,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,7779,131,77,2,1:17.123,1:32.081,1:35.918
7322,1000,2018,12,11,2018-07-29,13:10:00,68885,825,45.0,8,0,20,MAG,Kevin,Magnussen,1992-10-05,Danish,7766,210,20,9,1:18.314,1:32.968,1:39.858
7456,1000,2018,12,11,2018-07-29,13:10:00,68887,828,5.0,17,0,9,ERI,Marcus,Ericsson,1990-09-02,Swedish,7771,15,9,14,1:18.641,1:37.075,NaN
7707,1000,2018,12,11,2018-07-29,13:10:00,68878,832,30.0,11,0,55,SAI,Carlos,Sainz,1994-09-01,Spanish,7762,4,55,5,1:17.829,1:30.771,1:36.743
7835,1000,2018,12,11,2018-07-29,13:10:00,68874,830,105.0,6,1,33,VER,Max,Verstappen,1997-09-30,Dutch,7764,9,33,7,1:16.940,1:31.178,1:38.032
8028,1000,2018,12,11,2018-07-29,13:10:00,68877,838,8.0,16,0,2,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,7773,1,2,16,1:18.782,NaN,NaN
8077,1000,2018,12,11,2018-07-29,13:10:00,68880,839,29.0,12,0,31,OCO,Esteban,Ocon,1996-09-17,French,7775,10,31,18,1:19.142,NaN,NaN
8192,1000,2018,12,11,2018-07-29,13:10:00,68882,840,4.0,18,0,18,STR,Lance,Stroll,1998-10-29,Canadian,7772,3,18,15,1:18.560,NaN,NaN
8263,1000,2018,12,11,2018-07-29,13:10:00,68886,842,26.0,13,0,10,GAS,Pierre,Gasly,1996-02-07,French,7763,5,10,6,1:18.577,1:31.286,1:37.591
8335,1000,2018,12,11,2018-07-29,13:10:00,68883,843,2.0,19,0,28,HAR,Brendon,Hartley,1989-11-10,New Zealander,7765,5,28,8,1:18.429,1:32.590,1:38.128
8356,1000,2018,12,11,2018-07-29,13:10:00,68881,844,13.0,15,0,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,7774,15,16,17,1:18.817,NaN,NaN
8424,1000,2018,12,11,2018-07-29,13:10:00,68888,845,0.0,20,0,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,7777,3,35,20,1:19.301,NaN,NaN

In [6]:
#Read results.csv
results = pd.read_csv('results.csv')
results.loc[results.raceId==1000]

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
23997,24003,1000,1,131,44,1,1,1,1,25.0,70,1:37:16.427,5836427,63,4,1:21.107,194.454,1
23998,24004,1000,20,6,5,4,2,2,2,18.0,70,+17.123,5853550,70,2,1:20.056,197.007,1
23999,24005,1000,8,6,7,3,3,3,3,15.0,70,+20.101,5856528,55,3,1:20.292,196.428,1
24000,24006,1000,817,9,3,12,4,4,4,12.0,70,+46.419,5882846,46,1,1:20.012,197.115,1
24001,24007,1000,822,131,77,2,5,5,5,10.0,70,+50.000,5886427,39,8,1:21.736,192.957,1
24002,24008,1000,842,5,10,6,6,6,6,8.0,70,+1:13.273,5909700,64,7,1:21.685,193.078,1
24003,24009,1000,825,210,20,9,7,7,7,6.0,69,\N,\N,60,6,1:21.302,193.987,11
24004,24010,1000,4,1,14,11,8,8,8,4.0,69,\N,\N,68,9,1:22.090,192.125,11
24005,24011,1000,832,4,55,5,9,9,9,2.0,69,\N,\N,58,13,1:22.774,190.538,11
24006,24012,1000,154,210,8,10,10,10,10,1.0,69,\N,\N,58,10,1:22.606,190.925,11
24007,24013,1000,843,5,28,8,11,11,11,0.0,69,\N,\N,62,11,1:22.612,190.911,11
24008,24014,1000,807,4,27,13,12,12,12,0.0,69,\N,\N,69,5,1:21.261,194.085,11
24009,24015,1000,839,10,31,18,13,13,13,0.0,69,\N,\N,63,14,1:22.876,190.303,11
24010,24016,1000,815,10,11,19,14,14,14,0.0,69,\N,\N,56,16,1:23.263,189.419,11
24011,24017,1000,828,15,9,14,15,15,15,0.0,68,\N,\N,53,17,1:23.671,188.495,12
24012,24018,1000,845,3,35,20,16,16,16,0.0,68,\N,\N,53,18,1:23.708,188.412,12
24013,24019,1000,840,3,18,15,17,17,17,0.0,68,\N,\N,51,12,1:22.660,190.800,12
24014,24020,1000,838,1,2,16,\N,R,18,0.0,49,\N,\N,46,15,1:23.077,189.843,6
24015,24021,1000,830,9,33,7,\N,R,19,0.0,5,\N,\N,5,19,1:23.985,187.790,75
24016,24022,1000,844,15,16,17,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,22

In [8]:
#only show top 3 (podium) of each race since 2010
#add in fastestLapTime, fastestLapSpeed, statusId of each driver in each race
races_standings = races_standings.loc[races_standings.position<=3]
races_standings = races_standings.sort_values(by=['raceId','position'])
races_standings = races_standings.loc[races_standings.year>=2010]
races_standings = races_standings.merge(results[['raceId','driverId','fastestLapTime','fastestLapSpeed','statusId']],on=['raceId','driverId'])
races_standings = races_standings.drop(columns=['code','number_y','dob'])
races_standings

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,forename,surname,nationality,qualifyId,constructorId,qualifier_position,q1,q2,q3,fastestLapTime_x,fastestLapSpeed_x,statusId_x,fastestLapTime_y,fastestLapSpeed_y,statusId_y
0,337,2010,1,3,2010-03-14,12:00:00,63737,4,25.0,1,1,14,Fernando,Alonso,Spanish,3328,6,3,1:54.612,1:54.172,1:54.608,1:58.287,191.706,1,1:58.287,191.706,1
1,337,2010,1,3,2010-03-14,12:00:00,63738,13,18.0,2,0,19,Felipe,Massa,Brazilian,3327,6,2,1:55.313,1:54.331,1:54.242,1:59.732,189.392,1,1:59.732,189.392,1
2,337,2010,1,3,2010-03-14,12:00:00,63739,1,15.0,3,0,44,Lewis,Hamilton,British,3329,1,4,1:55.341,1:54.707,1:55.217,1:59.560,189.665,1,1:59.560,189.665,1
3,338,2010,2,1,2010-03-28,06:00:00,63761,4,37.0,1,1,14,Fernando,Alonso,Spanish,3352,6,3,1:25.082,1:24.335,1:24.111,1:29.707,212.812,1,1:29.707,212.812,1
4,338,2010,2,1,2010-03-28,06:00:00,63762,13,33.0,2,0,19,Felipe,Massa,Brazilian,3354,6,5,1:25.548,1:25.010,1:24.837,1:29.537,213.216,1,1:29.537,213.216,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665,1059,2021,7,34,2021-06-20,13:00:00,70391,1,119.0,2,3,44,Lewis,Hamilton,British,8855,131,2,1:31.237,1:30.788,1:30.248,1:37.410,215.903,1,1:37.410,215.903,1
666,1059,2021,7,34,2021-06-20,13:00:00,70395,815,84.0,3,1,11,Sergio,PÃ©rez,Mexican,8857,9,4,1:31.560,1:30.971,1:30.445,1:36.693,217.504,1,1:36.693,217.504,1
667,1060,2021,9,70,2021-07-04,13:00:00,70452,830,182.0,1,5,33,Max,Verstappen,Dutch,8894,9,1,1:04.249,1:03.927,1:03.720,1:06.200,234.815,1,1:06.200,234.815,1
668,1060,2021,9,70,2021-07-04,13:00:00,70451,1,150.0,2,3,44,Lewis,Hamilton,British,8897,131,4,1:04.506,1:04.258,1:04.014,1:08.126,228.177,1,1:08.126,228.177,1
669,1060,2021,9,70,2021-07-04,13:00:00,70455,815,104.0,3,1,11,Sergio,PÃ©rez,Mexican,8896,9,3,1:04.833,1:04.483,1:03.990,1:08.192,227.956,1,1:08.192,227.956,1