In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [2]:
##read in csvs
constructors = pd.read_csv("constructors.csv")
constructor_standings = pd.read_csv("constructor_standings.csv")
constructor_results = pd.read_csv("constructor_results.csv")
constructors = constructors.drop(columns=['url']) #drop url column
constructors

     constructorId constructorRef            name nationality
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
206            209          manor  Manor Marussia     British
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French

[211 rows x 4 columns]

In [3]:
#Merge constructor table with constructor standings
constructor_master = constructors.merge(constructor_standings,on='constructorId')
#constructor_master = constructor_master.merge(constructor_results,on=['constructorId','raceId'])
constructor_master

,constructorId,constructorRef,name,nationality,constructorStandingsId,raceId,points,position,positionText,wins
0,1,mclaren,McLaren,British,1,18,14.0,1,1,1
1,1,mclaren,McLaren,British,7,19,24.0,1,1,1
2,1,mclaren,McLaren,British,18,20,28.0,3,3,1
3,1,mclaren,McLaren,British,29,21,34.0,3,3,1
4,1,mclaren,McLaren,British,40,22,42.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...
12581,214,alpine,Alpine F1 Team,French,27740,1056,17.0,7,7,0
12582,214,alpine,Alpine F1 Team,French,27750,1057,25.0,7,7,0
12583,214,alpine,Alpine F1 Team,French,27760,1059,29.0,7,7,0
12584,214,alpine,Alpine F1 Team,French,27770,1058,31.0,7,7,0
12585,214,alpine,Alpine F1 Team,French,27790,1060,32.0,7,7,0

In [4]:
##Create DataFrame consisting of races, driver standings, drivers and qualifying results
races = pd.read_csv("races.csv").drop(columns=['url'])
drivers = pd.read_csv("drivers.csv").drop(columns=['url'])
driver_standings = pd.read_csv("driver_standings.csv")
##merge races with driver standings and drivers
races_standings = races.merge(driver_standings,on=['raceId'])
races_standings = races_standings.merge(drivers,on=['driverId'])
#drop non-needed columns
races_standings = races_standings.drop(columns=['positionText','driverRef','name'])

#races_standings

In [5]:
#merge each drivers qualifying results on the race and driver id
qualifying = pd.read_csv('qualifying.csv')
qualifying = qualifying.rename(columns={'position':'qualifier_position'})
races_standings = races_standings.merge(qualifying,on=['raceId','driverId'])
races_standings2 = races_standings.loc[races_standings.raceId==1000]
races_standings2

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,code,forename,surname,dob,nationality,qualifyId,constructorId,number_y,qualifier_position,q1,q2,q3
250,1000,2018,12,11,2018-07-29,13:10:00,68871,8,146.0,3,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish,7760,6,7,3,1:17.526,1:32.762,1:36.186
606,1000,2018,12,11,2018-07-29,13:10:00,68869,20,189.0,2,4,5,VET,Sebastian,Vettel,1987-07-03,German,7761,6,5,4,1:16.666,1:28.636,1:36.210
1845,1000,2018,12,11,2018-07-29,13:10:00,68873,4,44.0,9,0,14,ALO,Fernando,Alonso,1981-07-29,Spanish,7768,1,14,11,1:18.208,1:35.214,NaN
3246,1000,2018,12,11,2018-07-29,13:10:00,68870,1,213.0,1,5,44,HAM,Lewis,Hamilton,1985-01-07,British,7778,131,44,1,1:17.419,1:31.242,1:35.658
3483,1000,2018,12,11,2018-07-29,13:10:00,68884,154,21.0,14,0,8,GRO,Romain,Grosjean,1986-04-17,French,7767,210,8,10,1:17.901,1:33.650,1:40.593
6102,1000,2018,12,11,2018-07-29,13:10:00,68875,807,52.0,7,0,27,HUL,Nico,HÃ¼lkenberg,1987-08-19,German,7770,4,27,13,1:17.905,1:36.506,NaN
6590,1000,2018,12,11,2018-07-29,13:10:00,68879,815,30.0,10,0,11,PER,Sergio,PÃ©rez,1990-01-26,Mexican,7776,10,11,19,1:19.200,NaN,NaN
6784,1000,2018,12,11,2018-07-29,13:10:00,68872,817,118.0,5,2,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,7769,9,3,12,1:18.540,1:36.442,NaN
7106,1000,2018,12,11,2018-07-29,13:10:00,68876,822,132.0,4,0,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,7779,131,77,2,1:17.123,1:32.081,1:35.918
7322,1000,2018,12,11,2018-07-29,13:10:00,68885,825,45.0,8,0,20,MAG,Kevin,Magnussen,1992-10-05,Danish,7766,210,20,9,1:18.314,1:32.968,1:39.858
7456,1000,2018,12,11,2018-07-29,13:10:00,68887,828,5.0,17,0,9,ERI,Marcus,Ericsson,1990-09-02,Swedish,7771,15,9,14,1:18.641,1:37.075,NaN
7707,1000,2018,12,11,2018-07-29,13:10:00,68878,832,30.0,11,0,55,SAI,Carlos,Sainz,1994-09-01,Spanish,7762,4,55,5,1:17.829,1:30.771,1:36.743
7835,1000,2018,12,11,2018-07-29,13:10:00,68874,830,105.0,6,1,33,VER,Max,Verstappen,1997-09-30,Dutch,7764,9,33,7,1:16.940,1:31.178,1:38.032
8028,1000,2018,12,11,2018-07-29,13:10:00,68877,838,8.0,16,0,2,VAN,Stoffel,Vandoorne,1992-03-26,Belgian,7773,1,2,16,1:18.782,NaN,NaN
8077,1000,2018,12,11,2018-07-29,13:10:00,68880,839,29.0,12,0,31,OCO,Esteban,Ocon,1996-09-17,French,7775,10,31,18,1:19.142,NaN,NaN
8192,1000,2018,12,11,2018-07-29,13:10:00,68882,840,4.0,18,0,18,STR,Lance,Stroll,1998-10-29,Canadian,7772,3,18,15,1:18.560,NaN,NaN
8263,1000,2018,12,11,2018-07-29,13:10:00,68886,842,26.0,13,0,10,GAS,Pierre,Gasly,1996-02-07,French,7763,5,10,6,1:18.577,1:31.286,1:37.591
8335,1000,2018,12,11,2018-07-29,13:10:00,68883,843,2.0,19,0,28,HAR,Brendon,Hartley,1989-11-10,New Zealander,7765,5,28,8,1:18.429,1:32.590,1:38.128
8356,1000,2018,12,11,2018-07-29,13:10:00,68881,844,13.0,15,0,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,7774,15,16,17,1:18.817,NaN,NaN
8424,1000,2018,12,11,2018-07-29,13:10:00,68888,845,0.0,20,0,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,7777,3,35,20,1:19.301,NaN,NaN

In [6]:
#Read results.csv
results = pd.read_csv('results.csv')

In [7]:
#only show top 10 (podium) of each race since 2010
#add in fastestLapTime, fastestLapSpeed, statusId of each driver in each race
races_standings = races_standings.sort_values(by=['raceId','position'])
races_standings = races_standings.loc[races_standings.year>=2010]
races_standings = races_standings.merge(results[['raceId','driverId','fastestLapTime','fastestLapSpeed','statusId']],on=['raceId','driverId'])
races_standings = races_standings.drop(columns=['code','number_y','dob'])
races_standings_top10 = races_standings.loc[races_standings.position<=10]

#races_standings.loc[races_standings.raceId==1000]
races_standings_top10

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number_x,forename,surname,nationality,qualifyId,constructorId,qualifier_position,q1,q2,q3,fastestLapTime,fastestLapSpeed,statusId
0,337,2010,1,3,2010-03-14,12:00:00,63737,4,25.0,1,1,14,Fernando,Alonso,Spanish,3328,6,3,1:54.612,1:54.172,1:54.608,1:58.287,191.706,1
1,337,2010,1,3,2010-03-14,12:00:00,63738,13,18.0,2,0,19,Felipe,Massa,Brazilian,3327,6,2,1:55.313,1:54.331,1:54.242,1:59.732,189.392,1
2,337,2010,1,3,2010-03-14,12:00:00,63739,1,15.0,3,0,44,Lewis,Hamilton,British,3329,1,4,1:55.341,1:54.707,1:55.217,1:59.560,189.665,1
3,337,2010,1,3,2010-03-14,12:00:00,63740,20,12.0,4,0,5,Sebastian,Vettel,German,3326,9,1,1:55.029,1:53.883,1:54.101,2:00.218,188.627,1
4,337,2010,1,3,2010-03-14,12:00:00,63741,3,10.0,5,0,6,Nico,Rosberg,German,3330,131,5,1:55.463,1:54.682,1:55.241,2:00.236,188.599,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4774,1060,2021,9,70,2021-07-04,13:00:00,70456,844,62.0,6,0,16,Charles,Leclerc,Monegasque,8905,6,12,1:04.906,1:04.600,\N,1:08.698,226.277,1
4775,1060,2021,9,70,2021-07-04,13:00:00,70458,832,60.0,7,0,55,Carlos,Sainz,Spanish,8904,6,11,1:04.596,1:04.559,\N,1:07.762,229.402,1
4776,1060,2021,9,70,2021-07-04,13:00:00,70457,817,40.0,8,0,3,Daniel,Ricciardo,Australian,8906,1,13,1:04.977,1:04.719,\N,1:08.820,225.876,1
4777,1060,2021,9,70,2021-07-04,13:00:00,70467,842,39.0,9,0,10,Pierre,Gasly,French,8899,213,6,1:04.841,1:04.412,1:04.107,1:08.146,228.110,1
4778,1060,2021,9,70,2021-07-04,13:00:00,70465,20,30.0,10,0,5,Sebastian,Vettel,German,8901,117,8,1:04.846,1:04.493,1:04.570,1:08.420,227.196,4

In [8]:
lap_times = pd.read_csv('lap_times.csv')
lap_times = lap_times.drop(columns=['lap','position','time'])
lap_times = lap_times.groupby(['raceId','driverId']).mean().reset_index()
lap_times = lap_times.rename(columns={"milliseconds": "avgLapTimeMS"})
lap_times2 = lap_times[lap_times.raceId==1035]
#lap_times2

In [9]:
#Merge average laptime with main table
races_standings = races_standings.merge(lap_times[['raceId','driverId','avgLapTimeMS']],on=['raceId','driverId'])
#races_standings[races_standings.raceId==1035]

In [10]:
pit_stops = pd.read_csv('pit_stops.csv')
pit_stops_avg_time = pit_stops.drop(columns=['lap','time','duration','stop'])
pit_stops_avg_time = pit_stops_avg_time.groupby(['raceId','driverId']).mean().reset_index()
#pit_stops_avg_time

In [11]:
pit_stops_total = pit_stops.drop(columns=['lap','time','duration','milliseconds'])
pit_stops_total = pit_stops_total.groupby(['raceId','driverId']).max().reset_index()
#pit_stops_total[pit_stops_total.raceId==841]

In [12]:
pit_stops = pit_stops_avg_time.merge(pit_stops_total[['raceId','driverId','stop']], on=['raceId','driverId'])
pit_stops = pit_stops.rename(columns={"milliseconds":"avgPitStopTimeMS","stop":"totalPitStops"})
pit_stops

      raceId  driverId  avgPitStopTimeMS  totalPitStops
0        841         1           23213.0              2
1        841         2           24046.0              2
2        841         3           23716.0              1
3        841         4           24055.0              3
4        841         5           24865.0              1
...      ...       ...               ...            ...
4059    1060       847           21606.0              1
4060    1060       849           21152.0              1
4061    1060       852           23874.5              2
4062    1060       853           22591.0              2
4063    1060       854           21798.0              1

[4064 rows x 4 columns]

In [13]:
#Merge average pitstop times, and total pitstops with main table
races_standings = races_standings.merge(pit_stops[['raceId','driverId','avgPitStopTimeMS','totalPitStops']], on=['raceId','driverId']).drop(columns='number_x')
races_standings[races_standings.circuitId==14]

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,forename,surname,nationality,qualifyId,constructorId,qualifier_position,q1,q2,q3,fastestLapTime,fastestLapSpeed,statusId,avgLapTimeMS,avgPitStopTimeMS,totalPitStops
269,853,2011,13,14,2011-09-11,12:00:00,64710,20,284.0,1,8,Sebastian,Vettel,German,5926,9,1,1:24.002,1:22.914,1:22.275,1:26.557,240.937,1,91437.207547,21751.0,2
270,853,2011,13,14,2011-09-11,12:00:00,64713,4,172.0,2,1,Fernando,Alonso,Spanish,5929,6,4,1:24.134,1:23.342,1:22.841,1:27.191,239.185,1,91756.245283,22264.0,2
271,853,2011,13,14,2011-09-11,12:00:00,64715,18,167.0,3,2,Jenson,Button,British,5928,1,3,1:24.013,1:23.031,1:22.777,1:26.207,241.915,1,91618.150943,21877.5,2
272,853,2011,13,14,2011-09-11,12:00:00,64711,1,158.0,5,2,Lewis,Hamilton,British,5927,1,2,1:23.976,1:23.172,1:22.725,1:26.187,241.971,1,91765.830189,21979.5,2
273,853,2011,13,14,2011-09-11,12:00:00,64716,13,82.0,6,0,Felipe,Massa,Brazilian,5931,6,6,1:24.523,1:23.681,1:23.188,1:26.924,239.919,1,92248.396226,21984.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702,1038,2020,8,14,2020-09-06,13:10:00,69969,825,1.0,17,0,Kevin,Magnussen,Danish,8532,210,15,1:20.869,1:21.573,\N,1:25.787,243.099,131,89167.764706,40078.0,1
3703,1038,2020,8,14,2020-09-06,13:10:00,69963,849,0.0,18,0,Nicholas,Latifi,Canadian,8537,3,20,1:21.717,\N,\N,1:24.999,245.353,1,121866.641509,774732.5,2
3704,1038,2020,8,14,2020-09-06,13:10:00,69966,8,0.0,19,0,Kimi,RÃ¤ikkÃ¶nen,Finnish,8531,51,14,1:21.010,1:20.926,\N,1:24.835,245.827,1,121931.471698,772719.5,2
3705,1038,2020,8,14,2020-09-06,13:10:00,69968,154,0.0,20,0,Romain,Grosjean,French,8533,210,16,1:21.139,\N,\N,1:24.785,245.972,1,121909.811321,778062.0,2
3706,1038,2020,8,14,2020-09-06,13:10:00,69967,847,0.0,21,0,George,Russell,British,8536,3,19,1:21.587,\N,\N,1:24.421,247.033,1,121936.773585,776593.5,2

In [16]:
##CREATE DATAFRAME OF ALL FEATURES OF RACES ON MONZA raceId = 14
monza_features = races_standings[races_standings.circuitId==14]
monza_features = monza_features.drop(columns=['year','round','circuitId','date','time','driverStandingsId','driverId','forename','surname','qualifyId','constructorId'])
monza_features

,raceId,points,position,wins,nationality,qualifier_position,q1,q2,q3,fastestLapTime,fastestLapSpeed,statusId,avgLapTimeMS,avgPitStopTimeMS,totalPitStops
269,853,284.0,1,8,German,1,1:24.002,1:22.914,1:22.275,1:26.557,240.937,1,91437.207547,21751.0,2
270,853,172.0,2,1,Spanish,4,1:24.134,1:23.342,1:22.841,1:27.191,239.185,1,91756.245283,22264.0,2
271,853,167.0,3,2,British,3,1:24.013,1:23.031,1:22.777,1:26.207,241.915,1,91618.150943,21877.5,2
272,853,158.0,5,2,British,2,1:23.976,1:23.172,1:22.725,1:26.187,241.971,1,91765.830189,21979.5,2
273,853,82.0,6,0,Brazilian,6,1:24.523,1:23.681,1:23.188,1:26.924,239.919,1,92248.396226,21984.5,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3702,1038,1.0,17,0,Danish,15,1:20.869,1:21.573,\N,1:25.787,243.099,131,89167.764706,40078.0,1
3703,1038,0.0,18,0,Canadian,20,1:21.717,\N,\N,1:24.999,245.353,1,121866.641509,774732.5,2
3704,1038,0.0,19,0,Finnish,14,1:21.010,1:20.926,\N,1:24.835,245.827,1,121931.471698,772719.5,2
3705,1038,0.0,20,0,French,16,1:21.139,\N,\N,1:24.785,245.972,1,121909.811321,778062.0,2
3706,1038,0.0,21,0,British,19,1:21.587,\N,\N,1:24.421,247.033,1,121936.773585,776593.5,2