In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
##read in csvs
constructors = pd.read_csv("constructors.csv")
constructor_standings = pd.read_csv("constructor_standings.csv")
constructor_results = pd.read_csv("constructor_results.csv")

constructors = constructors.drop(columns=['url']) #drop url column
constructors

     constructorId constructorRef            name nationality
0                1        mclaren         McLaren     British
1                2     bmw_sauber      BMW Sauber      German
2                3       williams        Williams     British
3                4        renault         Renault      French
4                5     toro_rosso      Toro Rosso     Italian
..             ...            ...             ...         ...
206            209          manor  Manor Marussia     British
207            210           haas    Haas F1 Team    American
208            211   racing_point    Racing Point     British
209            213     alphatauri      AlphaTauri     Italian
210            214         alpine  Alpine F1 Team      French

[211 rows x 4 columns]

In [3]:
#Merge constructor table with constructor standings
constructor_master = constructors.merge(constructor_standings,on='constructorId')
#constructor_master = constructor_master.merge(constructor_results,on=['constructorId','raceId'])
constructor_master

,constructorId,constructorRef,name,nationality,constructorStandingsId,raceId,points,position,positionText,wins
0,1,mclaren,McLaren,British,1,18,14.0,1,1,1
1,1,mclaren,McLaren,British,7,19,24.0,1,1,1
2,1,mclaren,McLaren,British,18,20,28.0,3,3,1
3,1,mclaren,McLaren,British,29,21,34.0,3,3,1
4,1,mclaren,McLaren,British,40,22,42.0,3,3,1
...,...,...,...,...,...,...,...,...,...,...
12581,214,alpine,Alpine F1 Team,French,27740,1056,17.0,7,7,0
12582,214,alpine,Alpine F1 Team,French,27750,1057,25.0,7,7,0
12583,214,alpine,Alpine F1 Team,French,27760,1059,29.0,7,7,0
12584,214,alpine,Alpine F1 Team,French,27770,1058,31.0,7,7,0
12585,214,alpine,Alpine F1 Team,French,27790,1060,32.0,7,7,0

In [4]:
##Create DataFrame consisting of races, driver standings, drivers and qualifying results
races = pd.read_csv("races.csv").drop(columns=['url'])
drivers = pd.read_csv("drivers.csv").drop(columns=['url'])
driver_standings = pd.read_csv("driver_standings.csv")
##merge races with driver standings and drivers
races_standings = races.merge(driver_standings,on=['raceId'])
races_standings = races_standings.merge(drivers,on=['driverId'])
#drop non-needed columns
races_standings = races_standings.drop(columns=['positionText','driverRef','name'])
#races_standings = races_standings.sort_values(by=['position'])
races_standings

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,wins,number,code,forename,surname,dob,nationality
0,1,2009,1,1,2009-03-29,06:00:00,8261,8,0.0,15,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
1,2,2009,2,2,2009-04-05,09:00:00,17665,8,0.0,18,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
2,3,2009,3,17,2009-04-19,07:00:00,17725,8,0.0,16,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
3,4,2009,4,3,2009-04-26,12:00:00,17765,8,3.0,12,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
4,5,2009,5,4,2009-05-10,12:00:00,17785,8,3.0,13,0,7,RAI,Kimi,RÃ¤ikkÃ¶nen,1979-10-17,Finnish
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33120,1056,2021,5,6,2021-05-23,13:00:00,70359,852,2.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33121,1057,2021,6,73,2021-06-06,12:00:00,70379,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33122,1058,2021,8,70,2021-06-27,13:00:00,70419,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33123,1059,2021,7,34,2021-06-20,13:00:00,70399,852,8.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese
33124,1060,2021,9,70,2021-07-04,13:00:00,70459,852,9.0,14,0,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese

In [5]:
#merge each drivers qualifying results on the race and driver id
qualifying = pd.read_csv('qualifying.csv')
qualifying = qualifying.rename(columns={'position':'qualifier_position'})
races_standings = races_standings.merge(qualifying,on=['raceId','driverId'])
races_standings.loc[races_standings.raceId==1000]

,raceId,year,round,circuitId,date,time,driverStandingsId,driverId,points,position,...,surname,dob,nationality,qualifyId,constructorId,number_y,qualifier_position,q1,q2,q3
250,1000,2018,12,11,2018-07-29,13:10:00,68871,8,146.0,3,...,RÃ¤ikkÃ¶nen,1979-10-17,Finnish,7760,6,7,3,1:17.526,1:32.762,1:36.186
606,1000,2018,12,11,2018-07-29,13:10:00,68869,20,189.0,2,...,Vettel,1987-07-03,German,7761,6,5,4,1:16.666,1:28.636,1:36.210
1845,1000,2018,12,11,2018-07-29,13:10:00,68873,4,44.0,9,...,Alonso,1981-07-29,Spanish,7768,1,14,11,1:18.208,1:35.214,NaN
3246,1000,2018,12,11,2018-07-29,13:10:00,68870,1,213.0,1,...,Hamilton,1985-01-07,British,7778,131,44,1,1:17.419,1:31.242,1:35.658
3483,1000,2018,12,11,2018-07-29,13:10:00,68884,154,21.0,14,...,Grosjean,1986-04-17,French,7767,210,8,10,1:17.901,1:33.650,1:40.593
6102,1000,2018,12,11,2018-07-29,13:10:00,68875,807,52.0,7,...,HÃ¼lkenberg,1987-08-19,German,7770,4,27,13,1:17.905,1:36.506,NaN
6590,1000,2018,12,11,2018-07-29,13:10:00,68879,815,30.0,10,...,PÃ©rez,1990-01-26,Mexican,7776,10,11,19,1:19.200,NaN,NaN
6784,1000,2018,12,11,2018-07-29,13:10:00,68872,817,118.0,5,...,Ricciardo,1989-07-01,Australian,7769,9,3,12,1:18.540,1:36.442,NaN
7106,1000,2018,12,11,2018-07-29,13:10:00,68876,822,132.0,4,...,Bottas,1989-08-28,Finnish,7779,131,77,2,1:17.123,1:32.081,1:35.918
7322,1000,2018,12,11,2018-07-29,13:10:00,68885,825,45.0,8,...,Magnussen,1992-10-05,Danish,7766,210,20,9,1:18.314,1:32.968,1:39.858
7456,1000,2018,12,11,2018-07-29,13:10:00,68887,828,5.0,17,...,Ericsson,1990-09-02,Swedish,7771,15,9,14,1:18.641,1:37.075,NaN
7707,1000,2018,12,11,2018-07-29,13:10:00,68878,832,30.0,11,...,Sainz,1994-09-01,Spanish,7762,4,55,5,1:17.829,1:30.771,1:36.743
7835,1000,2018,12,11,2018-07-29,13:10:00,68874,830,105.0,6,...,Verstappen,1997-09-30,Dutch,7764,9,33,7,1:16.940,1:31.178,1:38.032
8028,1000,2018,12,11,2018-07-29,13:10:00,68877,838,8.0,16,...,Vandoorne,1992-03-26,Belgian,7773,1,2,16,1:18.782,NaN,NaN
8077,1000,2018,12,11,2018-07-29,13:10:00,68880,839,29.0,12,...,Ocon,1996-09-17,French,7775,10,31,18,1:19.142,NaN,NaN
8192,1000,2018,12,11,2018-07-29,13:10:00,68882,840,4.0,18,...,Stroll,1998-10-29,Canadian,7772,3,18,15,1:18.560,NaN,NaN
8263,1000,2018,12,11,2018-07-29,13:10:00,68886,842,26.0,13,...,Gasly,1996-02-07,French,7763,5,10,6,1:18.577,1:31.286,1:37.591
8335,1000,2018,12,11,2018-07-29,13:10:00,68883,843,2.0,19,...,Hartley,1989-11-10,New Zealander,7765,5,28,8,1:18.429,1:32.590,1:38.128
8356,1000,2018,12,11,2018-07-29,13:10:00,68881,844,13.0,15,...,Leclerc,1997-10-16,Monegasque,7774,15,16,17,1:18.817,NaN,NaN
8424,1000,2018,12,11,2018-07-29,13:10:00,68888,845,0.0,20,...,Sirotkin,1995-08-27,Russian,7777,3,35,20,1:19.301,NaN,NaN